<%- include('../partials/header') %>

<section id="show-page">

    <h4>Playlist Name: <%= playlists.playlistName %></h4>
    <h4>Genre: <%= playlists.genre %></h4>
    <h6>*If you would like to edit the playlist, fill in the fields below and submit*</h6>

        <form action="/playlists/<%= playlists._id %>?_method=PUT" method="POST">
          <input name="editPlaylistName" value="<%= playlists.playlistName %>" />
          <input name="editPlaylistGenre" value="<%= playlists.genre %>" />
          <input type="submit" value="edit">
        </form>
    
    <div>
        <ul>
            <li>Song Name, Artist & Descr.</li>
        <%= playlists.songId.map(s => ` ${s.songName}, By ${s.artist}, "${s.songDescription}"`) %>
        </ul>
    </div> 
    
</section>

<br> 

<form id="update-form" action="/playlists/<%= playlists._id%>" method="POST">
    <label>Add New Song to Playlist?</label>
    <select name="addSongToList">
        <% songs.forEach(function(s) { %>
            <option value="<%= s._id%>"><%= s.songName %></option>
        <% }); %>
        <input type="submit" value="Add Song to Playlist">
    </select>
    </form>
    
    <br> 

    <form action="/playlists/<%=playlists._id %>?_method=DELETE" method="POST">
        <button type="submit"> Delete Playlist </button>
    </form>
    <div> *Warning, this will delete the entire playlist you have created*</div>

<%- include('../partials/footer') %>