<%- include('../partials/header') %>

<section id="show-page">
    <div>Playlist Name: <%= playlists.playlistName %></div>
    <div>Genre: <%= playlists.genre %></div>
    
    <div>
        <ul>
            <h5>Song Name, Artist & Song Description</h5>
        <% playlists.songId.forEach(function(s) { %>
           <li> <%= playlists.songId.map(s => `${s.songName}, ${s.artist}, ${s.songDescription}`) %> </li>
        <% }); %>
        </ul>
    </div> 
    
</section>

<br> 

<form id="update-form" action="/playlists/<%= playlists._id%>" method="POST">
    <label>Add New Song to Playlist?</label>
    <select name="addSongToList">
        <% songs.forEach(function(s) { %>
            <option value="<%= s._id%>"><%= s.songName %></option>
        <% }); %>
        <input type="submit" value="Add Song to Playlist">
    </select>
    </form>

    
    <br> 

    <form action="/playlists/<%=playlists._id %>?_method=DELETE" method="POST">
        <button type="submit"> Delete Playlist </button>
    </form>
    <div> *Warning, this will delete the entire playlist you have created*</div>

<%- include('../partials/footer') %>