<%- include('../partials/header') %>

<section id="show-page">
    <div>Playlist Name: </div>
    <div><%= playlists.playlistName %></div>
    <div>Genre: </div>
    <div><%= playlists.genre %></div>
    <div>Description: </div>
    <div><%= playlists.playlistDescription %></div>
    
    <div>
        <ul>
        <%- playlists.songId.map(s => ` ${s.songName} ${s.artist} ${s.songDescription}`) %>
        </ul>
    </div> 
    
</section>

<br> 

<form id="add-song-to-playlist" action="/playlists/<%= playlists._id %>/songs" method="POST">
  <select name="songId">
    <% songs.forEach(function(s) { %>
      <option value="<%= s._id %>"><%= s.songName %></option>
    <% }); %>
  </select>
  <button type="submit">Add to Playlist</button>
</form>

<%- include('../partials/footer') %>