<%- include('../partials/header') %>

<section id="show-page">
  <div class="container">
    <h4 class="p-3 mb-2 bg-secondary text-white">Playlist Name: <%= playlists.playlistName %></h4>
    <h4 class="p-3 mb-2 bg-secondary text-white">Genre: <%= playlists.genre %></h4>
    <h6 class="p-3 mb-2 bg-light text-dark">*If you would like to edit the playlist, fill in the fields at the bottom and submit*</h6>
  </div>
</section>
<br> 
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Song Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Desc.</th>
    </tr>
  </thead>
  <tbody>
    <% playlists.songId.forEach(function(s) { %>
      <tr>
        <td><%= s.songName %></td>
        <td><%= s.artist %></td>
        <td><%= s.songDescription %></td>
      </tr>
    <% }); %>
  </tbody>
</table>      
<br>
<div class="container">
  <form action="/playlists/<%= playlists._id %>?_method=PUT" method="POST"> 
  <div>Edit Playlist name</div>
    <input name="editPlaylistName" value="<%= playlists.playlistName %>" />
  <div>Edit Playlist Genre</div>
    <input name="editPlaylistGenre" value="<%= playlists.genre %>" />
    <br>
    <button type="submit button" class="btn btn-warning" value="edit"> Submit Edit </button>
  </form>
</div>  
<br> 
<div class="container">
  <form action="/playlists/<%=playlists._id %>?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-danger" value="Delete Playlist">
  </form>
  <div class="container"></div> *Warning, this will delete the entire playlist you have created!*</div>
</div>

<%- include('../partials/footer') %>